 <div class="sidelayout-nav">

        <div class="sidelayout-div">
          <h5><i class="fa fa-signal"></i> Plagiarism Checker </h5>
        </div>
        <ul>
          <li>
            <a href="/dashboard"><i class="fa fa-home"></i> Home </a>
          </li>
          <li>
            <a href="/add-new"><i class="fa fa-edit"></i> Add Write Up </a>
          </li>
          <li>
            <a href="/view"><i class="fa fa-info-circle"></i> Manage Write Up </a>
          </li>
          <li>
            <a href="/seminar"><i class="fa fa-info-circle"></i> Seminar </a>
          </li>
          <!-- <li>
            <a href="/lecture"><i class="fa fa-info-circle"></i> Lecturers </a>
          </li> -->
          <li>
            <a href="/add-topic"><i class="fa fa-edit"></i> Project Topic </a>
          </li>
          <li>
            <a href="/export"><i class="fa fa-sign-in"></i> Export </a>
          </li>
          <li>
            <a href="/sign-out"><i class="fa fa-power-off"></i> Sign Out </a>
          </li>
        </ul>
    </div>
